
.header-spu, .footer-ep {
    background-color: var(--nav-bg);
    border-color: var(--hr-default);
}
.header-spu p, .form-setpassword label h1, .form-setpassword label h2 {
    color: var(--text-title);
}

/* Edit profile Form */
.set-password-panel {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color .5s;
}
.set-password-panel.on {
    animation: fadeOn .7s;
    background-color: rgba(0, 0, 0, 0.7);
}
@keyframes fadeOn {
    0%   { background-color: rgba(0, 0, 0, 0); }
    100%  { background-color: rgba(0, 0, 0, 0.7); }
}
.set-password-panel.off {
    animation: fadeOff .7s;
    background-color: rgba(0, 0, 0, 0);
}
@keyframes fadeOff {
    0%   { background-color: rgba(0, 0, 0, 0.7); }
    100%  { background-color: rgba(0, 0, 0, 0); }
}
.set-password-panel path {
    pointer-events: none;
}
.content-spassword {
    position: absolute;
    background-color: var(--nav-bg);
    color: var(--text-input-ep);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    overflow: auto;
    transition: 1s transform;
}
.content-spassword.calmdown {
    transform: translate(-50%, -50%) scale(1);
}
.content-spassword.effectJoin {
    animation: openPanelSP .7s;
    transform: translate(-50%, -50%) scale(1);
}
@keyframes openPanelSP {
    0%   { transform: translate(-50%, -50%) scale(0); }
    100%  { transform: translate(-50%, -50%) scale(1); }
}
.content-spassword.effectLeft {
    animation: closePanelSP .5s;
    transform: translate(-50%, -50%) scale(0);
}
@keyframes closePanelSP {
    0%   { transform: translate(-50%, -50%) scale(1); }
    100%  { transform: translate(-50%, -50%) scale(0); }
}
.content-spassword.active {
    transform: translate(-50%, -50%);
}
.content-spassword.errors{
    transform: translate(-50%, -50%);
}

/* form */
.form-setpassword {
    max-height: 100vh;
    overflow: auto;
}
.form-setpassword label h1 {
    font-size: 14px;
    margin-left: 5px;
}
.form-setpassword label h2 {
    font-size: 11px;
}
.form-setpassword input {
    color: var(--text-title);
    background-color: var(--bg-input-ep);
    padding: 5px 15px;
    border-color: rgba(138, 138, 138, 0.2);
    border-width: 1.5px;
    border-radius: 9999px;
}
.form-setpassword input.max {
    border-color: #f56565;
}
.form-setpassword input::placeholder {
    color: #979797;
}
/* Margin left error message */
.error-msg-p {
    margin-left: 3px;
}


/* Hover info set password */
.info-spu:hover .h-info-spu {
    visibility: visible;
    opacity: 1;
}
.h-info-spu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: -10px;
    bottom: -10px;
    width: 270px;
    border-radius: 3px;
    transform: translate(0, 100%);
    background-color: #48bb78;
    transition: visibilituy .3s, opacity .3s;
}

.triangle {
    position: absolute;
    top: 0;
    right: 10px;
    transform: translate(0, -90%);
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 8px solid #48bb78;
}