
/* Set Password SVG */
.spu-svg-svg-con {
    height: 275px;
}
.spu-svg-con-sm {
    height: 140px;
}
.spu-svg0{fill:var(--spu-svg0);}
.spu-svg1{fill:var(--spu-svg1);}
.spu-svg2{fill:var(--spu-svg2);}
.spu-svg3{fill:var(--spu-svg3);}
.spu-svg4{fill:var(--spu-svg4);}
.spu-svg5{fill:var(--spu-svg5);}
.spu-svg6{fill:var(--spu-svg6);}
.spu-svg7{fill:var(--nav-bg);}